.project-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  padding: 1rem 2rem;
}

.section-text{
    padding-bottom: 2.5rem;
    cursor: default;
}

.featured-project-wrapper .title{
    font-family: var(--font-display);
    line-height: 1.05;
    font-weight: 700;
    margin-bottom: 2rem;
    letter-spacing: -0.03em;
    cursor: default;
    font-size: 3rem;
    margin-bottom: 1.5rem;
}

.fablekins{
    font-family: var(--font-display);
    font-size: 2rem;
    line-height: 1.05;
    font-weight: 800;
    margin-bottom: 1.5rem;
    letter-spacing: -0.03em;
    cursor: default;
    color: var(--text-muted);
}

.fablekins:hover{
    background: linear-gradient(to right, var(--primary), var(--accent));
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    display: inline-block;
    opacity: 0.7;
    transition: color 1s;
    transition-timing-function: ease;
}

.project-video-wrap{
    position: relative;
    height: 80vh;
    border-radius: 24px;
    overflow: hidden;
}

.project-video{
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter:brightness(0.8);
    opacity: 0.7;
}

@media (max-width: 900px){
    .project-video{
        height: 100%;
    }
}

.project-overlay{
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content:end;
    flex-direction: column;
    margin-bottom: 1.7rem;
}